<h1 (mouseover)="shuffleLetters($event)" data-value="TIC TAC TOE">TIC TAC TOE</h1>


<h2>Current Player: {{ player }} </h2>



<h3 *ngIf="winner">
    Player {{ winner }} won the game!
</h3>



<button class="btn" nbButton outline status="danger" (click)="newGame()" (mouseover)="shuffleLetters($event)" data-value="START NEW GAME!">START NEW GAME!</button>

<main class="main-container">
    <app-square 
        *ngFor="let val of squares; let i = index" 
        [value]="val"
        (click)="makeMove(i)"> 
    </app-square>
</main>
